<div class="application-area">

<h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Add New User</h1>






<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
</div>